.main-navigation {
	display: block;
	width: 100%;

	background: rgba(255,0,0,.5);

	ul {
		// display: none;
		display: block;

		text-align: right;
		list-style: none;
		margin: 0;
		padding-left: 0;
		overflow:hidden;

		max-height: 0;
		transition: max-height .5s ease-in-out;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
		margin: 1rem 0;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}






.menu-toggle {
	position: relative;
	display: block;
	background: transparent;
	border: none;
	margin: 0;
	padding: 0;
	transform: rotate(180deg);
	transition: transform .3s;
	height: 36px;
	width: 36px;

	svg {
		// background: green;
		position: absolute;
		height: 24px;
		width: 24px;
		top: 6px;
		left: 6px;
		transition: opacity .3s;
	}

	.toggle-close {
		opacity: 0;
	}

	.toggle-open {
		opacity: 1;
	}

	&:focus {
		outline: none;
	}
}




/* Small menu. */
.main-navigation.toggled {
	ul {
		// display: block;
		// text-align: center;
		height: auto;
		max-height: 1000px;
	}

	.menu-toggle {
		transform: rotate(0deg);
	}

	.toggle-close {
		opacity: 1;
	}

	.toggle-open {
		opacity: 0;
	}
}




@media screen and (min-width: 48em) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		height: auto;
		max-height: 80px;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;
		list-style: none;

		margin-left: -10px;
		padding: 5px;

		li {
			flex: 1 1 auto;
			margin: 0 20px;
			text-align: center;
			position: relative;

			&+li:before {
				content: "/";
				position: absolute;
				left: -25px;
				top: .8rem;
				opacity: .30;
			}
		}
	}
}


@media screen and (min-width: 62em) {

	.main-navigation ul {		
		li {			
			margin: 0 50px;			

			&+li:before {		
				left: -55px;				
			}
		}
	}
}



.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}




// scroll to top button
//––––––––––––––––––––––––––––––––––––––––––––––––––

// 698d8d
.scrollup {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.25;
  border-radius: .25rem;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;

  color: #fff;
  background-color: #698d8d;
  border-color: #698d8d;

  &:hover {
    color: #fff;
    background-color: #587777;
    border-color: #587777;
  }

  // color: $color_primary;
  // background-color: $color_primary;
  // border-color: $color_primary;

  line-height: 36px;
  height: 40px;
  width: 40px; 

  position: fixed;
  z-index: 1000;
  opacity:0;
  right:-100%;
  bottom: 20px;
  transition: all 1s;

  &:active, 
  &:focus {
    outline: none;
    border: none;
    box-shadow: none;

    background-image: none;
    background-color: #587777;
    border-color: #587777;
  }


  &.show {
    opacity:1;
    right: 20px;
  }
}

.scrollup-chevron {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 16px;
  width: 16px;
  fill: #fff;
    // fill: $link-color;
}

